
# macOS
.DS_Store

# IDE / Editors
.vscode/
.idea/

# Environment files
.env
.env.*
.env copy
.env.local
.env.development
.env.production

# PHPUnit cache
.phpunit.result.cache

# Node / composer / cache
node_modules/
vendor/
