sudo chown -R www-data:www-data /var/www/BillPayAPI
sudo chmod -R 775 /var/www/BillPayAPI/storage /var/www/BillPayAPI/bootstrap/cache


sudo chmod -R 775 /var/www/BillPayAPI/storage /var/www/BillPayAPI/bootstrap/cache
sudo chgrp -R www-data /var/www/BillPayAPI/storage /var/www/BillPayAPI/bootstrap/cache
